.magnifier {
  width: 430px;
  height: 430px;
}
.magnifier .mybox .bamboo-middle-box {
  border: 1px solid #000;
}
.magnifier .mybox .bamboo-middle-box .bamboo-middle-square {
  background-color: rgba(0, 0, 0, 0.3);
}
.magnifier .mybox .bamboo-big-box {
  border: 1px solid #000;
}
.magnifier .mybox ul.bamboo-imgs > li {
  border: 1px solid #000;
}
.magnifier .mybox ul.bamboo-imgs > li.active {
  border: 1px solid #00f;
}
